<!-- Header -->
<% if current_user %>
    <section id="portfolio">
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Maryland Markets</h2>
                </div>
            </div>
            <hr />
            <div class="row">
                <h4 class="text-center">When will McKeldin Mall Construction End?</h4>
                <p>Construction on McKeldin Mall began on June 20, 2016 and was expected to end by September of 2016. As of December 1, 2016, there is still orange fencing up around McKeldin Mall. Construction will be considered complete when 100% of the fencing is taken down. When do you think construction will end?</p>
                <table class="table" style="margin-top: 20px">
                    <thead>
                        <tr>
                            <th>Predictions</th>
                            <th>Buy Yes</th>
                            <th>Sell Yes</th>
                            <th>Buy No</th>
                            <th>Sell No</th>
                            <th>Graph</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>September 2016</td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.30</button></td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.25</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.75</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.70</button></td>
                            <td><button type="button" class="btn btn-xs btn-default">Display</button></td>
                        </tr>
                        <tr>
                            <td>October 2016</td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.30</button></td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.25</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.75</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.70</button></td>
                            <td><button type="button" class="btn btn-xs btn-default">Display</button></td>
                        </tr>
                        <tr>
                            <td>November 2016</td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.30</button></td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.25</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.75</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.70</button></td>
                            <td><button type="button" class="btn btn-xs btn-default">Display</button></td>
                        </tr>
                        <tr>
                            <td>December 2016</td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.30</button></td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.25</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.75</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.70</button></td>
                            <td><button type="button" class="btn btn-xs btn-default">Display</button></td>
                        </tr>
                        <tr>
                            <td>January 2017</td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.30</button></td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.25</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.75</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.70</button></td>
                            <td><button type="button" class="btn btn-xs btn-default">Display</button></td>
                        </tr>
                        <tr>
                            <td>February 2017</td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.30</button></td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.25</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.75</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.70</button></td>
                            <td><button type="button" class="btn btn-xs btn-default">Display</button></td>
                        </tr>
                        <tr>
                            <td>March or Later</td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.30</button></td>
                            <td><button type="button" class="btn btn-xs btn-success">$0.25</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.75</button></td>
                            <td><button type="button" class="btn btn-xs btn-info">$0.70</button></td>
                            <td><button type="button" class="btn btn-xs btn-default">Display</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
<% else %>
    <!-- Login Screen -->
    <section id="contact" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <%= image_tag('umd_cs_logo.png', alt: "UMD CS Logo", width: "400",margin: "10px auto") %>
                </div>
                <div class="col-lg-12 text-center" style="margin-top: 60px;">
                    <a href="/auth/facebook" class="btn btn-lg btn-primary">Log In via Facebook</a>
                </div>
            </div>
        </div>
    </section>
<% end %>

<!-- Footer -->
<footer class="text-center navbar navbar-fixed-bottom" >
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Terrapin Exchange 2016
                </div>
            </div>
        </div>
    </div>
</footer>