
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">New Terrapin Exchange</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Hello!</h1>
        <p class="lead">We should be able to log in via Facebook on this splash screen.</p>

	<p>
	  <div class="text-xs-center">
	    <%= image_tag('umd_cs_logo.png', alt: "UMD CS Logo", width: "200") %>
	  </div>
	</p>

        <p class="lead">
          <a href="/auth/facebook" class="btn btn-lg btn-secondary">Log in via FB</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p><em>We're in the <strong>cloud</strong>.</em></p>
        </div>
      </div>

    </div>

  </div>
</div>
