<!-- Fixed Navigation Bar -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Terrapin Exchange</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Markets</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Account</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">About</a>
                </li>
                <li class="page-scroll">
                    <% if current_user %>
                        <%= link_to "Sign Out, #{current_user.name.split(" ")[0]}", signout_path, id: "sign_out" %>
                    <% else %>
                        <%= link_to "Sign In", "/auth/facebook", id: "sign_in" %>
                    <% end %>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<% if current_user %>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Start Bootstrap</span>
                        <hr class="star-light">
                        <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<% else %>
    <!-- Login Screen -->
    <section id="contact" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <%= image_tag('umd_cs_logo.png', alt: "UMD CS Logo", width: "400",margin: "10px auto") %>
                </div>
                <div class="col-lg-12 text-center" style="margin-top: 50px;">
                    <a href="/auth/facebook" class="btn btn-lg btn-primary">Log In via Facebook</a>
                </div>
            </div>
        </div>
    </section>
<% end %>

<!-- Footer -->
<footer class="text-center navbar navbar-fixed-bottom" >
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Terrapin Exchange 2016
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>



<!-- <div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">New Terrapin Exchange</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Hello!</h1>
        <p class="lead">We should be able to log in via Facebook on this splash screen.</p>

  <p>
    <div class="text-xs-center">
      <%= image_tag('umd_cs_logo.png', alt: "UMD CS Logo", width: "200") %>
    </div>
  </p>

        <p class="lead">
          <a href="/auth/facebook" class="btn btn-lg btn-secondary">Log in via FB</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p><em>We're in the <strong>cloud</strong>.</em></p>
        </div>
      </div>

    </div>

  </div>
</div> -->